@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #FFF;
  padding: 0 20px;
}
